<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/main"> <img src="/images/inai.svg" style="width: 60px;"></a>
        </div>
    </div>
</nav>
