<form id="update_prefix_form"> 
    <div class="form-group">
        <label>Prefijo OC4IDS</label>
        <input type="text" name="value" value="<%= oc4ids %>" class="form-control" maxlength="20" required>
    </div>
    <button class="btn btn-default">Guardar</button>
</form>