<form id="update_policy_form"> 
    <div class="form-group">
        <label>Pólitica de publicación</label>
        <textarea name="textarea" class="form-control" rows="10" cols="50" required><%=(typeof policy[0] != "undefined")? policy[0].policy : ''%></textarea>
        
        
        
    </div>
    <button class="btn btn-default">Guardar</button>
</form>