<form id="frmImport">
    <div class="import-container">
        <label>Seleccione un archivo JSON con la estructura Entrega (realease-package) </label>
        <input type="file" name="file" class="form-control" required accept="application/json" /> 
        <br/>
        <button class="btn btn-primary">Importar</button>
    </div>
    <h3 class="text-center hidden"><span class="fa fa-refresh fa-spin"></span></h3>
</form>
