<p>
<div id="textoMaterial">
    <h3 style="color:#00cc99">Material de ayuda</h3><br>
    Si tienes dudas sobre algunos campos puedes utilizar la <a href="https://docs.google.com/presentation/d/1rw0fNdB6CF4bnZx2cA06uLLmLQnctV-7QNDix42JFrg/edit?usp=sharing" target="_blank">Presentación de orientación</a>, también puedes consultar la <a href="https://docs.google.com/document/d/1UmkRpbsWpHI1BDP3WuS7Xbf3-ycpaQfcBKLqnF9rJY8/edit?usp=sharing" target="_blank">Guía sobre el uso de las mejoras</a>.
    <br><br>
    También, puedes acceder al <a href="https://docs.google.com/spreadsheets/d/1bXsm4Yv3SNCWKhnr11b8LdYF2wcRYCqnNhHKC2ORu5A/edit?usp=sharing" target="_blank">Índice de documentos</a> para conocer cuáles se deben publicar y en qué etapas se capturan.
    <br><br>
    Si necesitas conocer el proceso de validación consulta la <a href="https://docs.google.com/document/d/1pfm0qBKlbTqweDcgzy3YDTYk7tNOYEO8jHRHUL_5QmI/edit?usp=sharing" target="_blank">Guía de validación de procesos</a>.
    <br><br>
    Por último, si deseas conocer de qué documentos se obtienen algunas variables, puedes consultar el <a href="https://docs.google.com/spreadsheets/d/1gAoByias-18EpCHUlKgkY851QSaEvFJvMRNP1TfnwNY/edit?usp=sharing" target="_blank">Mapeo.</a>
    <br><br>
</div>
<div id="textoManual">
    <h3 style="color:#00cc99">Manual de usuario</h3><br>
    Si deseas conocer aspectos más técnicos sobre el funcionamiento de la herramienta consulta el <a href="https://docs.google.com/document/d/1PMeqLDcOodj6SKWxjaNyaHbg58VnkBs6ROudUrEqj-0/edit?usp=sharing" target="_blank">Manual de usuario.</a>
</div>
</p>