<form id="frmMetadata" class="clearfix form-group">
    <div class="col-sm-12 form-group">
        <label>Licencia(Url)</label>
        <input type="url" class="form-control" name="licencia_url" value="<%= data.licencia_url %>" autocomplete="Off" />
    </div>
    <div class="col-sm-12 form-group">
        <label>Política de Publicación(Url)</label>
        <input type="url"  class="form-control" name="politica_url" value="<%= data.politica_url %>" autocomplete="Off" />
    </div>
    <div  class="col-sm-12 form-group">
        <button class="btn btn-default">Guardar</button>
    </div>
</form>