.btn {
    padding: 4px 14px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #00cc99;
    color: #FFFFFF;
}
 

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
                               }

.title{
    color: #FFFFFF;
    font-weight:bold;
}

.menu-org{
    color:#4d4d4d;
    font-weight:bold;    
}


.urlLink .manualLink{
    color: #4d4d4d;
    font-weight: bold;
}

.urLink{
    color:#FFFFFF;
}


/*
.top-buffer {
    background: #00cc99;
    color: #FFFFFF;
    margin-top:-20px;
}

.login-buffer{
    margin-top:100px;
}

.top-buffer .navbar-brand {
    color: #FFFFFF;
}
*/
.pill-container{
    margin-top:20px;
}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:#FFFFFF;
    font-weight: bold;
    background-color:#00cc99;
    }

.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus {
    color:#4d4d4d;
    }

/*
.navbar-inner {
    background: #00cc99;
    color: #FFFFFF;
    margin-top:0px;
}*/

.btn-primary {
    background: #00cc99;
    color: #FFFFFF;
}

.btn-primary.raised:active, .btn-primary.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        color: #FFFFFF;
    background:#00cc99;
}

.urLink:hover{
    color: #4d4d4d;
    background:#e0e0e0;
}

.btn-primary:active, .btn-primary.active {
    color: #4d4d4d;
    background:#e0e0e0;
    box-shadow: none;
}

.well {
    border: none;
}
